* { box-sizing: border-box; } 

body {
    margin: 0px;
    font-family: 'Pathway Gothic One', sans-serif;
    color: #FFFFFF;
    
    background-image: url("Images/space.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; 
    opacity: 0.95;
}

h1 {
    font-size: 46px;
}

h3 {
    font-size: 24px;
}

#page_wrapper {
    width: 1000px;
    padding: 0px;
    margin: 0px auto 0px auto;
    text-align: center;
}

.img-fluid{
    max-width: 100%;
    max-height: 600px;
}